@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* shared style */
.inter-font{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

.bg-color{
    background-color: #1A0B2E;
}

.display-flex{
    display: flex;
}

.display-grid{
    display: grid;
}

.btn{
    padding: 12px 16px;
    border: none;
    border-radius: 10000px;
    background: linear-gradient(20deg, #F7E93F 20%, #FB09B4 51%, #9100F8 100%);
    color: white;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
}

/* main style */

/* navbar start */

.navbar{
    max-width: 1600px;
    justify-content: space-around;
    padding: 16px 0;
    align-items: center;
    border-bottom: 1px solid #412567;
}

.logo img{
    max-width: 219px;
}

.menu{
    gap: 32px;
}

.menu li{
    list-style: none;
}

.menu li a{
    text-decoration: none;
    color: white;
    font-size: 1rem;
    font-weight: 500;
}

.menu-icon{
    display: none;
}

/* hero-section start */
#hero-section{
    max-width: 1600px;
    background: url(./assets/hero-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    height: 760px;
}
 .hero-container{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
 }

 .hero-image{
    max-width: 550px;
    height: 450px;
    position: relative;
 }

 .circle-image{
    position: absolute;
    top: 0%;
    transform: translate(-50%, 30%);
 }
 .circle-image img{
    max-width: 350px;
 }

 .primary-image{
    position: absolute;
    top: 20%;
    transform: translate(-50%, 50%);
 }

 .badge{
    position: absolute;
    top: 26%;
    left: 44px;
    transform: translate(50%, 50%);
 }

 .badge span{
    background-color: #00FF88;
    border-radius: 1000px;
    padding: 8px 16px;
    color: #1A0B2E;
    font-weight: 600;
    font-size: 1.125rem;
 }
 .hero-content{
    text-align: center;
 }

 .hero-content h1{
    color: white;
    font-size: 3.75rem;
    font-weight: 800;
    margin-bottom: 8px;
 }

  .hero-content p{
    font-size: 1rem;
    font-weight: 400;
    color: white;
    margin-bottom: 24px;
}

.hero-button{
    gap: 8px;
    align-items: center;
    justify-content: center;
}

.music-btn{
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.subscribe-btn{
    border-radius: 10000px;
    background-color: transparent;
    padding: 8px 12px;
    border: 1px solid #00FF88;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.subscribe-btn span{
    color: #00FF88;
    font-size: 1rem;
    font-weight: 500;
}

/* about section start */
#about-section{
    max-width: 1600px;
    flex-direction: column;
}

#about-section .about-info{
    max-width: 1200px;
    margin: 50px auto 80px;
    align-items: center;
    justify-content: center;
}

.about-info h2{
    text-align: center;
    font-weight: 700;
    color: white;
    font-size: 3rem;
    margin-bottom: 16px;
}

.about-info p{
    font-weight: 400;
    color: white;
    font-size: 1rem;
    text-align: center;
    line-height: 3cap;
}

#horizontal-line{
    width: 1200px;
    border: 1px solid #1f1330;
    margin: 0 auto;
}

#about-section .about-cards{
    max-width: 1200px;
    margin: 80px auto 120px;
    gap: 80px;
    align-items: center;
    justify-content: center;
}

.card{
    width: 240px;
    text-align: center;

}

.card h2{
    color: #00FF88;
    font-size: 3rem;
    font-weight: 900;
    margin-bottom: 16px;
}

.card span{
    color: white;
    font-size: 1rem;
    font-weight: 400;
}

#features-section{
    max-width: 1600px;
    background-color: #230E3D;
}

.features-container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 120px 0;
}

.features-container h2{
    text-align: center;
    color: white;
    font-weight: 700;
    font-size: 3rem;
    margin-bottom: 40px;
}

.features{
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 30px;
}

.features-card-1{
    grid-column: span 1;
    grid-row: span 2;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.features-card-2, .features-card-3{
    grid-column: span 2;
    grid-row: span 1;
}

.features-card-4{
    grid-column: span 2;
    grid-row: span 1;
}

.features-card-5{
    grid-column: span 1;
    grid-row: span 1;
}

.f-card{
    padding: 40px;
    box-shadow: rgba(53, 17, 101, 0.4) 0px 48px 100px 0px;
    border-radius: 40px;
    background-color: #2b124e;
    /* margin: auto 0; */
}

.f-card h4{
    font-weight: 700;
    font-size: 1.5rem;
    color: white;
    margin: 16px 0;
}

.f-card p{
    font-size: 1rem;
    font-weight: 400;
    color: white;
}
/* postcast section start */
#podcast-section{
    max-width: 1600px;
}

.podcast-container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 120px 0;
}

.podcast-container h4{
    text-align: center;
    font-size: 3rem;
    color: white;
    font-weight: 800;
    margin-bottom: 40px;
}

.postcast-videos{
    gap: 20px;
}

.video-card{
    width: 380px;
    box-shadow: rgba(53, 17, 101, 0.4) 0px 48px 100px 0px;
    border-radius: 20px;
    background-color: #2b124e;
}

.video-card iframe{
    width: 100%;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

.video-card h5{
    font-size: 1.5rem;
    font-weight: 700;
    color: white;
    margin-bottom: 12px;
}

.video-card p{
    font-size: 1rem;
    font-weight: 400;
    color: white;
    margin-bottom: 12px;
}

.card-info{
    margin: 24px;
}

.video-card .video-duration{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
}

.host{
    margin: 120px auto;
}

.host h4{
    font-size: 3rem;
    font-weight: 800;
    color: white;
    text-align: center;
}

.host-info{
    box-shadow: rgba(53, 17, 101, 0.4) 0px 48px 100px 0px;
    border-radius: 20px;
    background-color: #2b124e;
    gap: 24px;
}
.host-image{
    margin: 40px;
    margin-right: 0px;
}

.info-text{
    flex-direction: column;
    gap: 16px;
    justify-content: center;
    align-items: flex-start;
    margin-right: 40px;
}

.info-text h5{
    color: white;
    font-size: 2rem;
    font-weight: 700;
}

.info-text p{
    color: white;
    font-size: 1rem;
    font-weight: 400;
}

.info-text .social-links{
    justify-content: flex-start;
    gap: 8px;
}

.social-links li{
    list-style: none;
}

.social-links li a{
    text-decoration: none;
}

.card-info span{
    color: #00FF88;
}


/* Mobile design */
@media screen and (max-width:576px) {
    .navbar{
        justify-content: space-between;
        padding: 16px 20px;
    }

    .logo img{
        width: 63%;
    }

    .btn{
        display: none;
    }

    .menu{
        display: none;
    }

    .menu-icon{
        display: block;
    }

    .menu-icon img{
        width: 24px;
    }

    .music-btn{
        display: block;
    }

    .features {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        gap: 16px;
        margin: 40px;
    }

    .f-card{
        grid-column: span 1;
        grid-row: span 1;
    }
    .f-card h4{
        font-size: 2rem;
    }

}
